<DOCTYPE! html>
<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<style>
body{
	background:black;
	color: #fff;

}
.nav{
	height:80px;
	border:2px solid red;

}
.jumbo{
	height:400px;
	width:100%;
	background-image: url("https://cdn.pixabay.com/photo/2016/09/29/14/06/background-1702930_960_720.jpg");
	background-size: cover;

}
.dvp{
	margin:20px;
}

</style>
<body>
	<div class="container-fluid">
		<div class="row nav">
			Navigation Bar
		</div>
		<div class="row mid">
				  <div class="jumbotron jumbo">
   
                  LOGO
                 
		    </div>		
		</div>
		<div class="row dvp">
			<h1>DEVELOPERS</h1>
		</div>
		<div class="row dvp">
			<div class="col-lg-2">
				<img src="public/images/arijit.jpg" style="height:260px,width:120px">

			</div>
			<div class="col-lg-10">
				<h1>SUKRITI RAMPAL</h1>
				<p>Currently Pursuing BTECH in Information Technology in Delhi Technological University.<br/>
					I am proficient in html,bootsrap,css,javascipt,mysql and NodeJS.
			</div>	
		</div>
		<div class="row dvp">
			<div class="col-lg-2">
				<img src="public/images/arijit.jpg" style="height:160px,width:120px">

			</div>
			<div class="col-lg-10">
				<h1>SHUBHANG VERMA</h1>
				<p>Currently Pursuing BTECH in Information Technology in Delhi Technological University.<br/>
					I am proficient in html,css,javascipt,mysql and NodeJS.
			</div>	
			
			
		</div>

		
		
	</div>	
</body>
</html>