<DOCTYPE! html>
<html>
<head>
</head>
<body>
	
	<form action="/create" method="post">

     <h2>Song Name:</h2>
     <input type="text" name="song_name"><br/>

     <h2>Artist_Id</h2>
          <input type="text" name="artist_id"><br/>

     <h2>Star</h2>
          <input type="text" name="star"><br/>

     <h2>Movie</h2>
          <input type="text" name="movie"><br/>

     <h2>Year</h2>
                  <input type="text" name="year"><br/>

     <h2>Genre</h2>
             <input type="text" name="genre"><br/>

     <h2>Duration</h2>
                      <input type="text" name="duration"><br/>

     <h2>Likes</h2>
          <input type="text" name="likes"><br/>
       <input type="submit" value="submit">

	</form>	
</body>
</html>