<DOCTYPE! html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/reg.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jque.ry/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 fom " style="margin-top:10%;">
	      	<h2 class=" heading">LOGIN IN </h2>

	           <form action="/login" method="POST">
	           	 
                  <div class="form-group">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="email">
                  </div>
                  <div class="form-group">
                       <label for="password">Password:</label>
                       <input type="password" class="form-control" id="password" name="password" placeholder="password">
                  </div>
                 
               <button type="submit" class="btn btn-danger btn-block">Submit</button>
              </form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

</body>	
</html>	