<!doctype html>
<head>
<title>music</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">

<style type="text/css">
body{
font-family: cursive;
letter-spacing: 1px;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/b9/28/46/b92846239cc61777b751052d0b991e3b.jpg);
    background-repeat: no-repeat;
    background-position: -10% 60%;
    background-attachment: fixed;
    background-color:black;
} 
#artist,#hinmel,#star,#movies,#int,#retro{
  /*background: -webkit-linear-gradient(#ff6600,  #ff0066);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color:white;
}
.cr{
    height:500px;
    width:100%; 
    background-repeat: no-repeat;
    background-position: center;
  }
  #one{
 background-image:url("https://media.vogue.in/wp-content/uploads/2017/11/janhvi-kapoor-ishaan-khatter-bollywood-debut-dhadak-vogue-india-2.jpg");
 background-size: 900px 500px;
 }
  #two{
background-image:url("https://i.ytimg.com/vi/D7w-v0zbV10/maxresdefault.jpg");
background-size: 900px 500px;
  }
  #three{
    background-image:url("https://d345cba086ha3o.cloudfront.net/wp-content/uploads/2016/11/14633014_1772516799654205_2535803331213666156_n.jpg");
    background-size: 900px 500px;
  }
  #four{
    background-image: url("/images/tumhiho.jpg");
    background-size: 900px 500px;
  }
  #artist{
    margin-top: 50px;
  }
  .a{
    margin-left:2px;
    margin-right:15px;
  }
  .a img{
    width: 200px;
    height:250px;
  }
  .dropdown-menu{
    background-color: black;
  }
  .dropdown-menu li a{
    display: block;
    width: 160px;
    height:60px;
    background-color: black;
    color:white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
  .navbar{
    margin-bottom: 30px;
    background-color: black;
    font-weight: bold;
    font-size: 17px;
  }
 .navbar li a{
    height: 60px;
 }
 #hello{
  color: white;
 }
 .img-responsive{
   margin-top: 80px;
 }
.hovereffect {
  width: 220px;
  overflow: hidden;
  text-align: center;
  cursor: default;
 }
 .overlay {
    width: 160px;
    overflow: hidden;
    position: relative;
    bottom: 100px;
 }

.hovereffect img {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(1px);
  -webkit-filter: grayscale(1) blur(1px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
}

 .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
 .cat,.cat:hover,.cat:visited{
    color: white;
    text-decoration-line: none;
    margin-left:200px; 
}
input,button{
    margin-top:5px; 
}

.footer{
    height: 300px;
    background-color:transparent;
    margin-top: 30px;
    padding: 40px;
    color: white;
    font-weight: bolder;
}
.footer a,a:hover,a:visited{
  text-decoration-line: none;
  color:white;
}
 .ft {
    font-size: 17px;
    padding-bottom: 8px;
}
#fp{
 margin-top:15px; 
}
#term{
    position: relative;
    top: 130px;
}
.empty{
  height: 80px;
}
.ficon{
  font-size: 40px;
}
.color{
height: 5px;
background: linear-gradient(to right, #ff6600 0%, #ff0066 66%); 
}
#hi{
  color:white;
}
</style>

<body>


<nav class="navbar navbar-inverse">
  <div class="row">
    <div class="col-mg-12 color">
    </div>
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">My Music<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#c1">Artists</a></li>
          <li><a href="#c2">Star Gallery</a></li>
          <li><a href="#c3">Hindi Melodies</a></li>
          <li><a href="#c4">Retro</a></li>
          <li><a href="#c5">Movies</a></li>
          <li><a href="#c6">International</a></li>
        </ul>
      </li>
      <li><a href="/subscribtion">Subscription</a></li>
    </ul>
      <%if((user==null)){%>

    <ul class="nav navbar-nav navbar-right">
      <li>
    <form action="/search" method="post" class="navbar-form navbar-right">
      <input type="text" name="data" class="form-control" placeholder="search">
     <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
    </button>
    </form>
    </li>
      <li><a href="/signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <%}else{%>
         <span class="navbar-text" id="hi" >
            Hello <%=username%>
          </span>
         <ul class="nav navbar-nav navbar-right">
           <li>
           <form action="/search" method="post" class="navbar-form navbar-right">
      <input type="text" name="data" class="form-control" placeholder="search">
     <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
     </button>
    </form>
           </li>
    
       <li><a href="/fav"><span class="glyphicon glyphicon-user"></span> Favourites</a></li>
       <li><a href="/edit"><span class="glyphicon glyphicon-log-in"></span>My Account</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <%}%>
    </ul>
  </div>
</nav>




        <div class="container-fluid">
    <div class="row">
            <div class="col-lg-12">
        <div id="my-slider" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators" >
                            <li data-target="#my-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#my-slider" data-slide-to="1"></li>
                            <li data-target="#my-slider" data-slide-to="2"></li>
                            <li data-target="#my-slider" data-slide-to="3"></li>
                        </ol>
                       <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="cr" id="one"></div>
                               <div class="carousel-caption">
                                    <h1>LATEST HIT</h1>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cr" id="two"></div>
                                 <div class="carousel-caption">
                                    <h1>SONG OF THE WEEK</h1>
                                    
                                </div>
                            </div>
                            <div class="item">
                                 <div class="cr" id="three"></div>
                                 <div class="carousel-caption">
                                    <h1>ARTIST OF THE WEEK</h1>
                                    
                                </div>
                            </div>
                            <div class="item">
                                 <div class="cr" id="four"></div>
                                 <div class="carousel-caption">
                                    <h1>ALL TIME FAVOURITE</h1>
                                </div>
                            </div>
    </div>
    <a class="left carousel-control" href="#my-slider" role="button"  data-slide="prev">
  </a>
  <a class="right carousel-control" href="#my-slider" data-slide="next">
  </a>
    </div>
    </div>
    </div>
<h2 id="artist"><a class="cat" name="c1" >ARTISTS</a></h2>
<div class="row">
            <div class="col-lg-12">
        <div id="my-slider-1" class="carousel slide" data-ride="carousel" data-interval="false">
                       <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="a col-lg-2"></div>
                                <div class="a col-lg-2 hovereffect">
                                <a href="/info/artist/as"><img class="img-responsive" src="/images/arijit.jpg" alt="oops!">
                                </a>
                                <div class="color"></div>
                                <div class="overlay">
                                <h2>Arijit Singh</h2>
                                </div>
                                </div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/artist/ts"><img class="img-responsive"  src="/images/taylor swift.jpg" alt="oops!"></a>
                                  <div class="color"></div>
                                <div class="overlay">
                                <h2>Taylor Swift</h2>
                                </div>
                                </div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/artist/aa"><img class="img-responsive"  src="/images/atif.jpg" alt="oops!"></a>
                                  <div class="color"></div>
                                <div class="overlay">
                                <h2>Atif Aslam</h2>
                                </div>
                                </div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/artist/cp"><img class="img-responsive"  src="/images/charlie.jpg" alt="oops!"></a>
                                  <div class="color"></div>
                                <div class="overlay">
                                <h2>Charlie Puth</h2>
                                </div>   
                                </div>
                                <div class="a col-lg-2"></div>
                            </div>
                            <div class="item">
                                <div class="a col-lg-2"></div>
                               <div class="a col-lg-2 hovereffect"><a href="/info/artist/ar"><img class="img-responsive"  src="/images/ar-rahman.jpg " alt="oops!"></a>
                                <div class="color"></div>
                                <div class="overlay">
                                <h2>AR RAHMAN</h2></div>
                              </div>
                              <div class="col-lg-8"></div>
                            </div>
                          </div>
    <a class="left carousel-control" href="#my-slider-1" role="button"  data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span> 
  </a>
  <a class="right carousel-control" href="#my-slider-1" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>  
  </a>
    </div>
    </div>                    
    </div>
    <h2 id="star"><a class="cat" name="c2">STAR GALLERY</a></h2>
<div class="row">
            <div class="col-lg-12">
        <div id="my-slider-2" class="carousel slide" data-ride="carousel" data-interval="false">
                       <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="a col-lg-2"></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/star/Alia Bhatt"><img class="img-responsive"  src="https://static.toiimg.com/photo/msid-58002368/58002368.jpg?56668" alt="oops!"></a>
                                <div class="color"></div><div class="overlay"><h2>Alia Bhatt</h2></div>
                              </div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/star/Aditya Roy Kapoor"><img class="img-responsive"  src="https://s3-ap-southeast-1.amazonaws.com/seenitcdn/328595937a487571d2.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Aditya Roy Kapoor</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/star/Ranbir Kapoor"><img class="img-responsive"  src="/images/ranbir.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Ranbir Kapoor</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/star/Deepika Padukone"><img class="img-responsive"  src="http://images.indianexpress.com/2017/07/deepika-padukone11.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Deepika Padukone</h2></div></div>
                                <div class="a col-lg-2"></div>
                            </div>
                            <div class="item">
                                <div class="a col-lg-2"></div>
                               <div class="a col-lg-2 hovereffect"><a href="/info/star/Shahrukh Khan"><img class="img-responsive"  src="https://qph.fs.quoracdn.net/main-qimg-5a8e92719b70da70c30d4f319abfcf93-c" alt="oops!"></a>
                                <div class="color"></div>
                               <div class="overlay"><h2>Shahrukh Khan</h2></div>
                             </div>
                             <div class="col-lg-8"></div>
                            </div>
                          </div>
    <a class="left carousel-control" href="#my-slider-2" role="button"  data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span> 
  </a>
  <a class="right carousel-control" href="#my-slider-2" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>  
  </a>
     </div>
     </div>                         
    </div>
    <h2 id="hinmel"><a class="cat" name="c3">HINDI MELODIES</a></h2>
<div class="row">
  <div class="col-lg-12">
        <div id="my-slider-3" class="carousel slide" data-ride="carousel" data-interval="false">
                       <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="a col-lg-2"></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/himel/Romantic"><img class="img-responsive"  src="http://www.bollywoodlife.com/wp-content/uploads/2017/02/pjimage-7.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Romantic</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/himel/Emotional"><img class="img-responsive"  src="https://i.ytimg.com/vi/-F8spsC9eFw/maxresdefault.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Emotional</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/himel/Rock"><img class="img-responsive"  src="https://i.ytimg.com/vi/WABKRfyOvgA/maxresdefault.jpg"oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Rock</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/himel/Pop"><img class="img-responsive"  src="https://i.ytimg.com/vi/4Ftt_sMq3MM/maxresdefault.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Pop</h2></div></div>
                                <div class="a col-lg-2"></div>
                            </div>
                            <div class="item">
                                <div class="a col-lg-2"></div>
                               <div class="a col-lg-2 hovereffect"><a href="/info/himel/bmash"><img class="img-responsive"  src="https://i.ytimg.com/vi/AjM2eSi9C-M/maxresdefault.jpg" alt="oops!"></a><div class="color"></div>
                               <div class="overlay"><h2>Latest BollyWood</h2></div></div>
                               <div class="col-lg-8"></div>
                            </div>
                          </div>
    <a class="left carousel-control" href="#my-slider-3" role="button"  data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span> 
  </a>
  <a class="right carousel-control" href="#my-slider-3" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>  
  </a>
      </div>                        
    </div>
  </div>

    <h2 id="retro"><a class="cat" name="c4">RETRO</a></h2>
<div class="row">
            <div class="col-lg-12">
        <div id="my-slider-4" class="carousel slide" data-ride="carousel" data-interval="false">
                       <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="a col-lg-2"></div>
                                <div class="a col-lg-2 hovereffect">
                                  <a href="/info/retro/Rock">
                                  <img class="img-responsive"  src="https://i0.wp.com/www.ok945.gr/wp-content/uploads/2017/05/top-100-greatest-classic-rock-songs-of-all-time-best-rock-songs-of-70s-80s-90s-youtube-thumbnail.jpg?fit=1280%2C720" alt="oops!"><div class="color"></div>
                                <div class="overlay"><h2>ROCK</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/retro/Pop"><img class="img-responsive"  src="https://i.pinimg.com/736x/f8/d5/58/f8d5589a2f02f8b294344ae0c76135db--s-posters-s-songs.jpg" alt="oops!"></a>
                                  <div class="color"></div>
                                <div class="overlay"><h2>POP</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/retro/Emotional"><img class="img-responsive"  src="https://images-eu.ssl-images-amazon.com/images/I/61W-o2tiN2L._SS500.jpg" alt="oops!">
                                </a> <div class="color"></div>
                                <div class="overlay"><h2>EMOTIONAL</h2></div>
                              </div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/retro/Romantic"><img class="img-responsive"  src="https://i.ytimg.com/vi/Aol_mpPsDXw/maxresdefault.jpg" alt="oops!"></a> 
                                  <div class="color"></div>
                                <div class="overlay"><h2>ROMANTIC</h2></div></div>
                                <div class="a col-lg-2 hovereffect"></div>
                            </div>
                            <div class="item">
                                <div class="a col-lg-2"></div>
                               <div class="a col-lg-2 hovereffect"><a href="/info/retro/Classical"><img class="img-responsive"  src="http://freedesignfile.com/upload/2017/02/Classical-music-retro-concert-poster-template-10.jpg" alt="oops!"></a> <div class="color"></div>
                               <div class="overlay"><h2>CLASSICAL</h2></div></div>
                               <div class="col-lg-8"></div>
                            </div>
                          </div>
    <a class="left carousel-control" href="#my-slider-4" role="button"  data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span> 
  </a>
  <a class="right carousel-control" href="#my-slider-4" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>  
  </a>
     </div>                         
    </div>
  </div>
    <h2 id='movies'><a class="cat" name="c5">MOVIES</a></h2>
<div class="row">
            <div class="col-lg-12">
        <div id="my-slider-5" class="carousel slide" data-ride="carousel" data-interval="false">
                       <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="a col-lg-2"></div>
                                <div class="a col-lg-2 hovereffect">
                                  <a href="/info/movie/Tamasha"><img class="img-responsive"  src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Tamasha_%28film_poster%29.jpg/220px-Tamasha_%28film_poster%29.jpg" alt="oops!">
                                  </a><div class="color"></div>
                                <div class="overlay"><h2>Tamasha</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/movie/Ae Dil Hai Mushkil"><img class="img-responsive"  src="https://i.ytimg.com/vi/GdNKsW-E_po/maxresdefault.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Ae Dil Hai Mushqil</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/movie/Badrinath Ki Dulhaniya">
                                  <img class="img-responsive"  src="http://a10.gaanacdn.com/images/song/39/21236239/crop_480x480_1516001052.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Badrinath Ki Dulhaniya </h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/movie/Aashiqui2"><img class="img-responsive"  src="http://content.hungama.com/audio%20album/display%20image/300x300%20jpeg/63861609.jpg" alt="oops!">
                                  </a><div class="color"></div>
                                <div class="overlay"><h2>Aashiqui2</h2></div></div>
                                <div class="a col-lg-2"></div>
                            </div>
                            <div class="item">
                                <div class="a col-lg-2"></div>
                               <div class="a col-lg-2 hovereffect"><a href="/info/movie/Raees">
                                <img class="img-responsive"  src="https://pbs.twimg.com/media/DVUxrk4UQAASDEW.jpg" alt="oops!">
                                </a><div class="color"></div>
                               <div class="overlay"><h2>Raees</h2>
                               </div>
                             </div>
                             <div class="col-lg-8"></div>
                           </div>
                          </div>
    <a class="left carousel-control" href="#my-slider-5" role="button"  data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span> 
  </a>
  <a class="right carousel-control" href="#my-slider-5" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>  
  </a>
</div>
</div>
</div>
      <h2 id='int'><a class="cat" name="c6">INTERNATIONAL</a></h2>
<div class="row">
            <div class="col-lg-12">
        <div id="my-slider-6" class="carousel slide" data-ride="carousel" data-interval="false">
                       <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="a col-lg-2"></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/int/Rock"><img class="img-responsive"  src="http://musicartists.org/wp-content/uploads/2014/03/Rock-Music-History.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Rock</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/int/Pop"><img class="img-responsive"  src="http://media-cdn.list.ly/production/599/pop_songs-0387518682.png" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Pop</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/int/Romantic"><img class="img-responsive"  src="https://i.ytimg.com/vi/HVzUsMkATUU/maxresdefault.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Romantic</h2></div></div>
                                <div class="a col-lg-2 hovereffect"><a href="/info/int/Emotional"><img class="img-responsive"  src="https://i.ytimg.com/vi/CipZSo9UCwU/hqdefault.jpg" alt="oops!"></a><div class="color"></div>
                                <div class="overlay"><h2>Emotional</h2></div></div>
                                <div class="a col-lg-2"></div>
                            </div>
                            <div class="item">
                                <div class="a col-lg-2"></div>
                               <div class="a col-lg-2 hovereffect"><a href="/info/int/Old Style"><img class="img-responsive"  src="http://caberfeidhproductions.com/wp-content/uploads/sites/44/2016/06/folk-music-constitute.jpg" alt="oops!"></a><div class="color"></div>
                               <div class="overlay"><h2>Old Style</h2></div></div>
                               <div class="col-lg-8"></div>
                            </div>
    <a class="left carousel-control" href="#my-slider-6" role="button"  data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span> 
  </a>
  <a class="right carousel-control" href="#my-slider-6" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>  
  </a>
    </div>                                  
    </div>
<div class="row footer">
           <div class="col-lg-8">
            <div class="row">
            <div class="col-lg-3 ft">COMPANY</div>
            <div class="col-lg-3 ft">CUSTOMER</div>
            <div class="col-lg-3 ft">CONNECT</div>
            </div>
            <div class="row">
            <div class="col-lg-3"><a href="/aboutUs">ABOUT US</a></div>
            <div class="col-lg-3"><a href="#">HELP</a></div>
            <div class="col-lg-3"><a href="#">CONTACT US</a></div>
            </div>
            <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3"><a href="#">SIGN UP</a></div>
            <div class="col-lg-3"></div>
            </div>
            <div class="row">
            <div class="col-lg-12">
                <p id="term">Copyright © 2018 XXXXXX. All rights reserved</p>
            </div>
            </div>
          </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 empty">
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-12">
                        <p id="fp">we offer original, exclusive and premium music. Everything you want to listen, anytime, anywhere and as much.</p>
                 </div>
                </div>
                 <div class="row social">
                    <div class="col-lg-2 ficon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                    <div class="col-lg-2 ficon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                    <div class="col-lg-2 ficon"><a href="#"><i class="fa fa-linkedin"></i></a></div>
                 </div>
</div>
</div>
</body>