<!doctype html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form action="/s" method="POST">
 	<input type="text" name="song" value="sukriti">
 	<button type="submit"><i class="fa fa-search"></i></button>
</form>
</body>
</html>